<h2>What do you want to buy?</h2>
<app-stock-symbol-and-amount-input
  (selectedStockAndAmount)="stockAndAmountSelectionChanged($event)">
</app-stock-symbol-and-amount-input>
<ng-container *ngIf="selectedStockAndSymbol">
  <h2>
    {{
      'Current price for ' +
        selectedStockAndSymbol.amountInput +
        ' pieces of ' +
        selectedStockAndSymbol.symbolInput +
        ':'
    }}
  </h2>
  <ng-container *ngIf="stockPriceDataLoading; else showPrice">
    <div>loading...</div>
  </ng-container>
  <ng-template #showPrice>
    <ng-container *ngIf="stockPriceData">
      <div>
        <h3>{{ stockPriceData.price + ' USD' }}</h3>
      </div>
      <button mat-raised-button color="primary">Buy now!</button></ng-container
    >
  </ng-template>
</ng-container>
