<h2>What do you want to buy?</h2>
<app-stock-symbol-and-amount-input
  (selectedStockAndAmount)="stockAndAmountSelectionChanged($event)">
</app-stock-symbol-and-amount-input>
<ng-container *ngIf="selectedStockAndSymbol">
  <h2>
    {{
      'Current price for ' +
        selectedStockAndSymbol.amountInput +
        ' pieces of ' +
        selectedStockAndSymbol.symbolInput +
        ':'
    }}
  </h2>
  <div class="priceInfoContainer">
    <ng-container *ngIf="showLoading; else showPrice">
      <div>loading...</div>
    </ng-container>
    <ng-template #showPrice>
      <div *ngIf="stockPriceData">
        <h3 style="font-weight: bold">
          {{ stockPriceData.price | currency: 'USD' }}
        </h3>
        <app-message
          *ngIf="showAmountNotAvailableWarning"
          [type]="'warning'"
          [message]="
            'You might not have enough money on your account!'
          "></app-message>
        <button mat-raised-button color="primary">Buy now!</button>
      </div>
    </ng-template>
    <button mat-mini-fab color="primary" (click)="onReload()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</ng-container>
