<h2>What do you want to buy?</h2>
<app-stock-symbol-and-amount-input
  (selectedStockAndAmount)="onStockAndAmountSelectionChange($event)">
</app-stock-symbol-and-amount-input>
<ng-container *ngIf="selectedStockAndAmount">
  <h2>
    {{
      'Current price for ' +
        selectedStockAndAmount.amountInput +
        ' pieces of ' +
        selectedStockAndAmount.symbolInput +
        ':'
    }}
    <button mat-icon-button color="primary" (click)="onSearchStockBtnClicked()">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </h2>
</ng-container>
